name: Security Leak Demo
on: [push]

permissions:
  contents: read
  id-token: write
  
jobs:
  leak-job:
    runs-on: ubuntu-latest
    steps:   
      - name: Attempting to print secret (Masked)
        run: echo "My secret is ${{ secrets.MY_API_KEY }}"

      - name: Bypass Masking (LEAK!)
        run: |
          SECRET="${{ secrets.MY_API_KEY }}"
          echo "$SECRET" | sed 's/./& /g'
