name: masking-secret Demo
on: [workflow_dispatch]
  
jobs:
  masking-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Mask a dynamic value
        run: |
          NEW_TOKEN=$(head -c 64 /dev/urandom | tr -dc 'a-zA-Z0-9' | head -c 16)
          echo $NEW_TOKEN
          echo "::add-mask::$NEW_TOKEN"
          echo "The token is $NEW_TOKEN" # Output: The token is ***
